
wp-config.php
.htaccess
web.config
*.env
*.env.*
.env
.env.local
.env.*.local

wp-content/uploads/

# Cache/backup/temp
wp-content/cache/
wp-content/upgrade/
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/debug.log
wp-content/wflogs/
cache/
tmp/
temp/

wp-content/plugins/ameliabooking/
wp-content/plugins/amelia/

phpmyadmin/
*.sql
*.SQL
*.db
*.DB
*.sqlite
*.sqlite3
*.bak
*.backup
*.dump

*.zip
*.gz
*.7z
*.tar
*.tar.gz

*.log
*.LOG
error_log
logs/
*.pid

.vscode/
.idea/
*.code-workspace

node_modules/
vendor/
dist/
build/
coverage/
.sass-cache/
.cache/

.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
Icon?
.Spotlight-V100
.Trashes
